<!DOCTYPE html>
<html>

<head>
  <title>予約確認書メールシステム</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <!-- 処理中メッセージ -->
  <div class="msg">
    <div class="msgarea">
      <i class="bx bx-burst"><p class="msgarea__text">処理中です</p></i>
    </div>
  </div>
  <%- include("./common/header.ejs", {isTop: true}); %>
  <div class="main">
    <div class="main__wrapper">
      <!-- メッセージ -->
      <% if (flashMessages) { %>
          <% if (flashMessages.success) { %>
            <div class="flashes">
              <div class="flash success"><%= flashMessages.success %></div>
            </div>
          <% } else if (flashMessages.error) { %>
            <div class="flashes">
              <div class="flash error"><%= flashMessages.error %></div>
            </div>
          <% } %>
      <% } %>
      <!-- 検索条件 -->
      <div class="area_header">
        <div class="area_searchjyouken">
          <form action="/yoyakus" method="POST" name="jyoukenform">
            <div class="searchform__row">
              <label class="searchform__item-label">登録日／更新日</label><input type="text" class="searchform__item-style  flatpickr3" name="yyyymmdd_addupd_start" value="<%= curYyyymmdd_minus1Day %>">　～　<input type="text" class="searchform__item-style flatpickr3" name="yyyymmdd_addupd_end" value="<%= curYyyymmdd_minus1Day %>">
            </div>
            <div class="searchform__row">
              <label class="searchform__item-label">利用日</label><input type="text" class="searchform__item-style flatpickr3" name="yyyymmdd_riyou_start" value="<%= curYyyymmdd %>">　～　<input type="text" class="searchform__item-style flatpickr3" name="yyyymmdd_riyou_end" value="<%= curYyyymmdd_plus1Year %>">
            </div>
            <input id="btnGetYoyaku" class="btn-action" type="button" value="予約情報取得" />
            <!-- <input id="btnGetYoyaku" class="btn-action" type="submit" value="予約情報取得" /> -->
          </form>
        </div>
      </div>
      <!-- 検索情報 -->
      <div class="area_searchinfos">
        <% if (searchinfos) { %>
          <%  searchinfos.forEach( searchinfo => { %>
            <div class="area_searchinfo">
              <p class="searchinfo-title"><%= `${searchinfo.id.slice(1,5)}年${searchinfo.id.slice(5,7)}月${searchinfo.id.slice(7,9)}日　${searchinfo.id.slice(9,11)}時${searchinfo.id.slice(11,13)}分${searchinfo.id.slice(13,15)}秒` %></p>
              <div class="searchinfo-left">
                <p class="searchinfo_text"><span class="label">登録日／更新日</span><%= `${searchinfo.yyyymmdd_addupd_start.slice(0,4)}年${searchinfo.yyyymmdd_addupd_start.slice(4,6)}月${searchinfo.yyyymmdd_addupd_start.slice(6,8)}日` %>～<%= `${searchinfo.yyyymmdd_addupd_end.slice(0,4)}年${searchinfo.yyyymmdd_addupd_end.slice(4,6)}月${searchinfo.yyyymmdd_addupd_end.slice(6,8)}日` %></p>
                <p class="searchinfo_text"><span class="label">利用日</span><%= `${searchinfo.yyyymmdd_riyou_start.slice(0,4)}年${searchinfo.yyyymmdd_riyou_start.slice(4,6)}月${searchinfo.yyyymmdd_riyou_start.slice(6,8)}日` %>～<%= `${searchinfo.yyyymmdd_riyou_end.slice(0,4)}年${searchinfo.yyyymmdd_riyou_end.slice(4,6)}月${searchinfo.yyyymmdd_riyou_end.slice(6,8)}日` %></p>
              </div>
              <div class="searchinfo-right">
                <div class="searchinfo-right-yoyaku">
                  <a class="btn-action" href="/yoyakus/<%= searchinfo.id %>">予約情報一覧</a>
                  <p class="searchinfo_timeinfo">
                    <%= `${searchinfo.yyyymmddhhmmss_created_yoyakus.slice(0,4)}年${searchinfo.yyyymmddhhmmss_created_yoyakus.slice(4,6)}月${searchinfo.yyyymmddhhmmss_created_yoyakus.slice(6,8)}日` %><br>
                  </p>
                  <p class="searchinfo_timeinfo">
                    <%= `${searchinfo.yyyymmddhhmmss_created_yoyakus.slice(8,10)}時${searchinfo.yyyymmddhhmmss_created_yoyakus.slice(10,12)}分${searchinfo.yyyymmddhhmmss_created_yoyakus.slice(-2)}秒` %>
                  </p>
                </div>
                <div class="searchinfo-right-kessai">
                <% if (searchinfo.status === '1') { %>
                  <!-- 予約情報取得済み-->
                  <a class="btn-action btnGetKessai" href="/kessaiscreate/<%= searchinfo.id %>">決済情報取得</a>
                <% } else { %>
                  <!-- 決済情報取得済み-->
                  <a class="btn-action" href="/kessais/<%= searchinfo.id %>">決済情報一覧</a>
                  <p class="searchinfo_timeinfo">
                    <%= `${searchinfo.yyyymmddhhmmss_created_kessais.slice(0,4)}年${searchinfo.yyyymmddhhmmss_created_kessais.slice(4,6)}月${searchinfo.yyyymmddhhmmss_created_kessais.slice(6,8)}日` %><br>
                  </p>
                  <p class="searchinfo_timeinfo">
                    <%= `${searchinfo.yyyymmddhhmmss_created_kessais.slice(8,10)}時${searchinfo.yyyymmddhhmmss_created_kessais.slice(10,12)}分${searchinfo.yyyymmddhhmmss_created_kessais.slice(-2)}秒` %>
                  </p>
                  <% } %>
                </div>
                <div class="searchinfo-right-mail">
                  <% if (searchinfo.yyyymmddhhmmss_sended_mails) { %>
                  <span class="btn-disabled">メール送信済</span>
                  <p class="searchinfo_timeinfo">
                    <%= `${searchinfo.yyyymmddhhmmss_sended_mails.slice(0,4)}年${searchinfo.yyyymmddhhmmss_sended_mails.slice(4,6)}月${searchinfo.yyyymmddhhmmss_sended_mails.slice(6,8)}日` %><br>
                  </p>
                  <p class="searchinfo_timeinfo">
                    <%= `${searchinfo.yyyymmddhhmmss_sended_mails.slice(8,10)}時${searchinfo.yyyymmddhhmmss_sended_mails.slice(10,12)}分${searchinfo.yyyymmddhhmmss_sended_mails.slice(-2)}秒` %>
                  </p>
                  <% } else { %>
                  <a class="btn-action" href="/kessais/sendmail/<%= searchinfo.id %>">メール一括送信</a>
                  <% } %>
                </div>
                <div>
                  <a class="btn-action-second" href="/yoyakudelete/<%= searchinfo.id %>">削除</a>
                </div>
              </div>
            </div>
          <% }) %>
        <% } %>
      </div>
    </div>
  </div>
  <script>
    // 予約情報取得ボタン
    let btnGetYoyaku = document.getElementById("btnGetYoyaku");
    btnGetYoyaku.addEventListener("click", (e) => {
      scrollTo(0, 0);
      let msg = document.getElementsByClassName("msg")[0];
      msg.style.visibility = "visible";
      document.jyoukenform.submit();
    },false);
    // 決済情報取得ボタン
    let btnsGetKessai = document.getElementsByClassName("btnGetKessai");
    for (let i=0; i<btnsGetKessai.length; i++) {
      btnsGetKessai[i].addEventListener("click", (e) => {
        scrollTo(0, 0);
        let msg = document.getElementsByClassName("msg")[0];
        msg.style.visibility = "visible";
        // e.preventDefault();
      })
    }
  </script>
</body>
<%- include("./common/javascripts.ejs") %>

</html>