<!DOCTYPE html>
<html>

<head>
  <title>予約確認書メール</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <!-- 検索条件 -->
  <div>
    <form action="/yoyakus" method="POST" name="jyoukenform">
      登録日/更新日：<input type="text" name="yyyymmdd_addupd_start" value="20220112" /> ～ <input type="text" name="yyyymmdd_addupd_end" value="20220112" />
      利用日：<input type="text" name="yyyymmdd_riyou_start" value="20220113" /> ～ <input type="text" name="yyyymmdd_riyou_end" value="20230113" />
      <input type="submit" value="予約情報取得" />
    </form>
  </div>
  <!-- 検索情報 -->
  <div>
    <% if (searchinfos) { %>
      <%  searchinfos.forEach( searchinfo => { %>
        <div>
          <h1><b>ID:<%= searchinfo.id %>登録日／更新日：<%= searchinfo.yyyymmdd_addupd_start %>～<%= searchinfo.yyyymmdd_addupd_end %>｜利用日：<%= searchinfo.yyyymmdd_riyou_start %>～<%= searchinfo.yyyymmdd_riyou_end %></b></h1>
          <div>
            <a href="/yoyakus/<%= searchinfo.id %>">予約情報一覧</a>
          </div>
          <div>
            <a href="/yoyakudelete/<%= searchinfo.id %>">削除</a>
          </div>
        <% if (searchinfo.status === '1') { %>
            <!-- 予約情報取得済み-->
            <div>
              <a href="/kessaiscreate/<%= searchinfo.id %>">決済情報取得</a>
            </div>
          <% } else { %>
            <!-- 決済情報取得済み-->
            <div>
              <a href="/kessais/<%= searchinfo.id %>">決済情報一覧</a>
            </div>
          <% } %>
        </div>
      <% }) %>
    <% } %>
  </div>
  <!-- ログイン情報 -->
  <div>
    <form action="/changepwd" method="post">
      <input type="text" name="pass" value="<%= logininfo.password %>" />
      <input type="submit" value="パスワード変更" />
    </form>
  </div>

</body>
<%- include("./common/javascripts.ejs") %>

</html>