<!DOCTYPE html>
<html>

<head>
  <title>決済情報</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <%- include("./common/header.ejs", {isTop: false}); %>
  <div class="main">
    <div class="main__wrapper">
    <!-- メッセージ -->
    <% if (flashMessages) { %>
      <% if (flashMessages.success) { %>
        <div class="flashes">
          <div class="flash success"><%= flashMessages.success %></div>
        </div>
      <% } else if (flashMessages.error) { %>
        <div class="flashes">
          <div class="flash error"><%= flashMessages.error %></div>
        </div>
      <% } %>
    <% } %>
      <div class="area_header">
        <a class="btn-back" href="<%= `/kessais/${kessai.id_search}` %>">戻る</a>
        <% if (searchinfo.status !== "4") { %>
          <a class="btn-action" href="<%= `/kessai/copy/${kessai.id}` %>">複製</a>
        <% } %>
        <a class="btn-action" href="<%= `/kessai/remove/${kessai.id}` %>">削除</a>
        <% if (searchinfo.status !== "4") { %>
          <a class="btn-action" href="<%= `/kessai/edit/${kessai.id}` %>">メール文編集</a>
          <% if ((!kessai.yyyymmddhhmmss_resended_mail) && (!kessai.yyyymmddhhmmss_sended_mail) && (searchinfo.yyyymmddhhmmss_sended_mails)) { %>
            <a class="btn-action" href="/kessai/sendmail/<%= kessai.id %>">メール送信</a>
          <% } %>
          <% if ((kessai.yyyymmddhhmmss_sended_mail) || (kessai.yyyymmddhhmmss_resended_mail)) { %>
            <a class="btn-action" href="/kessai/sendmail/<%= kessai.id %>">メール再送信</a>
          <% } %>
        <% } %>
      </div>
      <% let isCopy = yoyakus[0].nm_nyuryoku.slice(0,3) === "コピー"?true:false; %>
      <div class="kessais-kessai-checkbox">
      <div class="kessai-title">
          <% if (isCopy) { %>
            <div class="kessais-kessai-copy" >COPY</div>
          <% } %>
          【決済情報】<%= kessai.id_cutomer %> <%= kessai.nm_keiyaku %>　
        <%= `${kessai.yyyymmdd_yoyaku.slice(0,4)}年${kessai.yyyymmdd_yoyaku.slice(4,6)}月${kessai.yyyymmdd_yoyaku.slice(6,8)}日  ${kessai.price.toLocaleString()}円`　%>
      </div>
      <dl class="kessai-dl">
        <dt>お客様番号</dt>
        <dd><%= kessai.id_customer %></dd>
        <dt>検索情報ID</dt>
        <dd><%= kessai.id_search %></dd>
        <dt>支払方法</dt>
        <dd><%= kessai.to_pay %></dd>
        <dt>顧客名１</dt>
        <dd><%= kessai.nm_customer1 %></dd>
        <dt>顧客名２</dt>
        <dd><%= kessai.nm_customer2 %></dd>
        <dt>電話番号</dt>
        <dd><%= kessai.telno %></dd>
        <dt>料金</dt>
        <dd><%= kessai.price %></dd>
        <dt>支払期限</dt>
        <dd><%= kessai.yyyymmdd_kigen %></dd>
        <dt>結果</dt>
        <dd><%= kessai.result %></dd>
        <dt>データID</dt>
        <dd><%= kessai.id_data %></dd>
        <dt>払込票URL</dt>
        <dd class="oneline-dd"><%= kessai.url_cvs %></dd>
        <dt>メッセージ</dt>
        <dd class="oneline-dd"><%= kessai.messagae %></dd>
        <dt>契約名</dt>
        <dd class="oneline-dd"><%= kessai.nm_keiyaku %></dd>
        <dt>担当者名</dt>
        <dd><%= kessai.nm_tantousha %></dd>
        <dt>予約年月日</dt>
        <dd><%= kessai.yyyymmdd_yoyaku %></dd>
        <dt>受付年月日</dt>
        <dd><%= kessai.yyyymmdd_uketuke %></dd>
        <dt>コンビニ決済対象</dt>
        <dd><%= kessai.isCvs %></dd>
        <dt>メール送信対象</dt>
        <dd><%= kessai.isSendMail %></dd>
        <dt>請求書PDF添付対象</dt>
        <dd><%= kessai.isPDF %></dd>
        <dt>請求書PDF</dt>
        <dd class="oneline-dd"><a href="/static/pdf/<%= kessai.id_search %>/<%= kessai.id_search %>-<%= no_keiyaku %>-<%= kessai.yyyymmdd_yoyaku %>-<%= kessai.yyyymmdd_uketuke %>-<%= kessai.id %>.pdf">請求書</a></dd>
        <dt>10%料金</dt>
        <dd><%= kessai.price_10per_total %></dd>
        <dt>10%消費税</dt>
        <dd><%= kessai.tax_10per_total %></dd>
        <dt>8%料金</dt>
        <dd><%= kessai.price_8per_total %></dd>
        <dt>8%消費税</dt>
        <dd><%= kessai.tax_8per_total %></dd>
        <dt>0%料金</dt>
        <dd><%= kessai.price_0per_total %></dd>
      </dl>
      <% if (searchinfo.status !== "4") { %>
      <div class="yoyaku-title">【予約情報】
        <a class="btn-action" href="<%= `/yoyakus/edit/${kessai.id}` %>">予約編集</a>
      </div>
      <dl class="yoyaku-dl">
        <% yoyakus.forEach( yoyaku => { %>
          <dd class="oneline-dd">
            <!-- <p class="tag"><%= `${yoyaku.type_room === '9'?'備品×'+yoyaku.quantity:'部屋'} `%></p> -->
            <% if (yoyaku.status_shiharai === '受') { %>
              <p class="tag-red"><%= yoyaku.status_shiharai %></p>
            <% } else { %>
              <p class="tag"><%= yoyaku.status_shiharai %></p>
            <% } %>
            <!-- <%= yoyaku.no_keiyaku %> <%= yoyaku.nm_riyousha %> |  -->
            <%= yoyaku.nm_room_seishiki %> | 
            <%= `${yoyaku.yyyymmdd_yoyaku.slice(0,4)}年${yoyaku.yyyymmdd_yoyaku.slice(4,6)}月${yoyaku.yyyymmdd_yoyaku.slice(6,8)}日` %> <%= `${yoyaku.time_start.slice(0,2)}:${yoyaku.time_start.slice(2,4)}` %>-<%= `${yoyaku.time_end.slice(0,2)}:${yoyaku.time_end.slice(2,4)}` %> | 
            <%= `${yoyaku.price.toLocaleString()}円` %>
          </dd>
        <% }) %>
      </dl>
      <div class="yoyaku-title">【メール情報】</div>
      <dl class="mail-dl">
        <dt>メールアドレス</dt>
        <div class="oneline-dd"><%= kessai.email %></div>
        <dt>件名</dt>
        <div class="oneline-dd"><%= kessai.mail_subject %></div>
        <dt>メール送信年月日時分秒</dt>
        <div class="oneline-dd"><%= kessai.yyyymmddhhmmss_sended_mail %></div>
        <dt>メール再送信年月日時分秒</dt>
        <div class="oneline-dd"><%= kessai.yyyymmddhhmmss_resended_mail %></div>
        <dt><%= `${kessai.isCvs === '1'?'メール本文（コンビニ決済用）':'メール本文'}` %></dt>
        <dd class="oneline-dd"></dd>
        <dt></dt>
        <% if (kessai.isCvs === '1'){ %>
          <dd class="oneline-dd">
            <pre class="mail_body"><%= kessai.mail_body_cvs %></pre>
          </dd>
        <% } else { %>
          <dd class="oneline-dd">
            <pre class="mail_body"><%= kessai.mail_body %></pre>
          </dd>
        <% } %>
      </dl>
    </div>
    <% } %>
  </div>
</body>
<%- include("./common/javascripts.ejs") %>

</html>