<!DOCTYPE html>
<html>

<head>
  <title>決済情報</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <%- include("./common/header.ejs", {isTop: false}); %>
  <div class="main">
    <div class="main__wrapper">
      <div class="area_header">
        <a class="btn-back" href="<%= `/kessais/${kessai.id_search}` %>">戻る</a>
        <a class="btn-action" href="/kessai/sendmail/<%= kessai.id_search %>_<%= kessai.id_customer %>">メール送信</a>
      </div>
      <div class="kessai-title">
        【決済情報】<%= kessai.id_cutomer %> <%= kessai.nm_keiyaku %>　<%= `${kessai.price.toLocaleString()}円` %>
      </div>
      <dl class="kessai-dl">
        <dt>お客様番号</dt>
        <dd><%= kessai.id_customer %></dd>
        <dt>検索情報ID</dt>
        <dd><%= kessai.id_search %></dd>
        <dt>支払方法</dt>
        <dd><%= kessai.to_pay %></dd>
        <dt>顧客名１</dt>
        <dd><%= kessai.nm_customer1 %></dd>
        <dt>顧客名２</dt>
        <dd><%= kessai.nm_customer2 %></dd>
        <dt>電話番号</dt>
        <dd><%= kessai.telno %></dd>
        <dt>料金</dt>
        <dd><%= kessai.price %></dd>
        <dt>支払期限</dt>
        <dd><%= kessai.yyyymmdd_kigen %></dd>
        <dt>結果</dt>
        <dd><%= kessai.result %></dd>
        <dt>データID</dt>
        <dd><%= kessai.id_data %></dd>
        <dt>払込票URL</dt>
        <dd class="oneline-dd"><%= kessai.url_cvs %></dd>
        <dt>メッセージ</dt>
        <dd class="oneline-dd"><%= kessai.messagae %></dd>
        <dt>契約名</dt>
        <dd class="oneline-dd"><%= kessai.nm_keiyaku %></dd>
        <dt>担当者名</dt>
        <dd><%= kessai.nm_tantousha %></dd>
        <dt>予約年月日</dt>
        <dd><%= kessai.yyyymmdd_yoyaku %></dd>
        <dt>受付年月日</dt>
        <dd><%= kessai.yyyymmdd_uketuke %></dd>
        <dt>コンビニ決済対象</dt>
        <dd><%= kessai.isCvs %></dd>
        <dt>メール送信対象</dt>
        <dd class="oneline-dd"><%= kessai.isSendMail %></dd>
        <dt>メールアドレス</dt>
        <dd class="oneline-dd"><%= kessai.email %></dd>
        <dt>メール）件名</dt>
        <dd class="oneline-dd"><%= kessai.mail_subject %></dd>
        <dt>メール）本文</dt>
        <dd class="oneline-dd">
          <textarea name="mailbody" cols="100" rows="80">
            <%= kessai.mail_body %>
          </textarea>
        </dd>
        <dt>メール）本文 コンビニ決済用</dt>
        <dd class="oneline-dd"  >
          <textarea name="mailbody_cvs" cols="100" rows="80">
            <%= kessai.mail_body_cvs %>
          </textarea>
        </dd>
        <dt>メール送信年月日時分秒</dt>
        <dd><%= kessai.yyyymmddhhmmss_sended_mail %></dd>
      </dl>
    </div>
  </div>
</body>
<%- include("./common/javascripts.ejs") %>

</html>